.paginator-container {
    display: flex;
    justify-content: start; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    margin-top: 15px; /* Adjust spacing from table */
  }